@charset "utf-8";

.leftBox {position: relative; display: inline-block;}
.leftBox > img {max-width: 100%;}
.leftBox a {display: block; width: auto;}
.leftBox span.text {position: absolute; top: 50%; left: 0; transform: translateY(-50%);
    display: none; width: 100%; font-size: 3rem; font-weight: 600; text-align: center;}
.leftBox span.omg {color: #fff;}
.leftBox span.ditto {color: #000;}
.leftBox::before, .leftBox::after{content: ''; position: absolute; top: 50%; left: 50%;
    width: 90%; height: 90%; transform: translate(-50%, -50%); transition: all .8s;}
.leftBox::before {border-top: 3px solid #fff; border-bottom: 3px solid #fff; width: 0;}
.leftBox::after {border-left: 3px solid #fff; border-right: 3px solid #fff; height: 0;}

/* hover */
.leftBox:hover span.text {display: block;}
.leftBox:hover::before {width: 90%;}
.leftBox:hover::after {height: 90%;}

/* .rightBox span {background:linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #FFD700 50%);
    background-size: 200%; transition: .35s; color: #000;}
.rightBox span:hover {background-position: -100% 0;} */

.rightBox .highlight {display: inline-table; position: relative; overflow: hidden;}
.rightBox .highlight span {position: relative; z-index: 2;}
.rightBox .highlight::before {content:''; display: block; width: 100%; height: 100%; background: rgba(255, 200, 0, .5);
    position: absolute; top: 0; left: -100%; transition: all .35s; z-index: 1;}
.rightBox:hover .highlight::before {left: 0;}