@charset "utf-8";

/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}

body {background-color: #FFFFF9; font-family: 'Yeon Sung', cursive}
.mainContainer {padding-top: 120px;}

/* 가운데 영역 */
.container {position: relative; width: 1440px; margin: 0 auto;}

/* 헤더 영역 */ 
#header {position: fixed; top: 0; left: 0; right: 0; z-index: 1; width: 100%; background-color: #FFFFF9;}
#header .container {border-bottom: 3px solid #000;}
#headBox {display: flex; text-align: center;}
.company {width: 200px; flex: 1;}
.headerTitle {flex: 5; text-align: center; padding: 20px;}
.headerTitle > .title {display: inline-block;}
.headerTitle > .title > a {margin: auto; font-family: 'Lilita One', curssive; font-size: 3.5rem;}
.headSide {border: 1px solid #000000; padding: 15px 10px; margin: 10px 0px; font-size: 2.5rem; font-weight: 300;}
.navLine {border: 0; height: 3px; background: #000000; margin: 10px 0px;}
.nav {text-align: center; font-size: 1.5rem;}

/* 메인 영역 */
#main {padding-top: 10px; text-align: center; height: 600px;}
#side_left {float: left; width: 200px; border-right: 2px solid #000000; padding-right: 20px;}
#side_left  p {font-size: 1.6rem; padding: 15px;}
#side_right {float: left; width: 200px; border-left: 2px solid #000000; padding-left: 20px;}
#side_right p {font-size: 2rem; font-weight: 400; padding: 10px;}
#side_right a {padding: 20px 0px; text-align: justify; line-height: 1.5;}
#side_right a:hover {text-decoration: underline;}
#contents {float: left; width: 980px;}
#contents .member {font-size: 2.5rem; padding: 0px 40px; border: none; background-color: #FFFFF9;
    font-family: 'Yeon Sung', cursive; font-weight: bold; display: inline-block;}
.sideContents {display:block; font-size: 1.2rem;}
.sideContents > img {width: 200px; height: 210px;}
.leftBox {margin-bottom: 50px;}

/* 푸터 영역 */
.footer_info {font-size: 1.5rem; padding: 25px 0px; text-align: center; border-top: 2px solid #000000;}
.instagram {width: 20px; height: 20px;}

/* 미니게임 영역 */
.gameBox {text-align: center;}
.gameBox p {padding: 30px; font-size: 2rem;}
.palyGame {height: 30rem; border: 3px solid #000; border-radius: 50px;}