@charset "utf-8";

/* 여백 초기화 */
body,div,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input,fieldset,legend,p,select,table,th,td,tr,textarea,button,form,figure,figcaption{margin:0; padding:0;}

/* a 링크 초기화 */
a {color: #222; text-decoration: none;}

body {background-color: #FFFFF9; font-family: 'Nanum Gothic', sans-serif;}

/* 가운데 영역 */
.container {position: relative; width: 1440px; margin: 0 auto;}

/* 헤더 영역 */
#headBox {display: flex; text-align: center; width: 100%;}
.company {width: 200px; flex: 1;}
.headerTitle {flex: 5; text-align: center;}
.headerTitle > .title {display: inline-block; text-align: center;}
.headerTitle > .title > a {margin: auto; font-family: 'Lilita One', curssive; font-size: 3.5rem;}
.headSide {border: 1px solid #000000; padding: 15px 10px; margin: 10px 0px; font-size: 2.5rem; font-weight: 300;}
.navLine {border: 0; height: 3px; background: #000000; margin: 10px 0px;}
.nav {text-align: center;}

/* 메인 영역 */
#main {padding-top: 20px; text-align: center;}
#side_left {float: left; width: 200px; border-right: 2px solid #000000; padding-right: 20px;}
#side_left > p {font-size: 1rem; padding: 15px;}
#side_right {float: left; width: 200px; border-left: 2px solid #000000;}
#contents {float: left; width: 980px;}
#contents > a {font-size: 2rem; font-weight: bold; padding: 0px 30px;}
.sideContents {display:block;}
.sideContents > img {width: 200px; height: 210px;}
.leftBox {margin-bottom: 50px;}

/* 왼쪽 영역 hover */
.leftBox {position: relative; display: inline-block;}
.leftBox > img {max-width: 100%;}
.leftBox a {display: block; width: auto;}
.leftBox span.text {position: absolute; top: 50%; left: 0; transform: translateY(-50%);
    display: none; width: 100%; font-size: 3rem; font-weight: 600; text-align: center;}
.leftBox span.omg {color: #fff;}
.leftBox span.ditto {color: #000;}
.leftBox::before, .leftBox::after{content: ''; position: absolute; top: 50%; left: 50%;
    width: 90%; height: 90%; transform: translate(-50%, -50%); transition: all .8s;}
.leftBox::before {border-top: 3px solid #fff; border-bottom: 3px solid #fff; width: 0;}
.leftBox::after {border-left: 3px solid #fff; border-right: 3px solid #fff; height: 0;}

.leftBox:hover span.text {display: block;}
.leftBox:hover::before {width: 90%;}
.leftBox:hover::after {height: 90%;}